.container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 4.4rem;
}

.logo {
    height: 100%;
}
