.container {
    width: auto;
    height: auto;
    margin: 30px;
    background-color: #fef9f9;
    border: 2px solid #f00c0c;
    border-radius: 30px;
    padding: 20px;


    .form-select {
        text-align: center;
        font-weight: bolder;
        border-radius: 15px;
        padding: 5px 5px;
        border: 2px solid #000;
        background-color: #f29d9d;
        display: inline-block;
        margin-bottom: 10px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
    }

    table {
        background-color: #fff;
        border: 1px solid #000;

        th {
            background-color: #f29d9d;
        }

        td {
            background-color: #fff;
        }
    }

    .table {
        background-color: #fff;
    }
}

.container-list {
    background-color: #fef9f9;
    width: auto;
    height: auto;
    margin: 30px;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 20px;

    .table-content {
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-weight: bold;
        text-align: center;
    }

    table {
        background-color: #fff;
        border: 1px solid #000;

        th {
            background-color: #f29d9d;
        }

        td {
            background-color: #fff;
        }
    }

    .list-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & h2 {
            margin-left: auto;
            margin-right: auto;
        }
    }
}