.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    background-color: rgb(255, 111, 59);
    border: 1px solid transparent;
    user-select: none; 

    + .wrapper {
        margin-left: 8px; 
    }

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(242, 90, 35);
    }
}    
