.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 5px 8px;
    border-radius: 30px;
    font-size: 1.6rem;
    color: white;
    font-weight: 500px;
    background-color: transparent;
    user-select: none;
    border: 1px solid #000000;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 3px;

    &:hover {
        background-color: #f7c79b;
    }



    .title {
        color: #000000;
    }
}


.primary {
    background-color: #fff;
    display: flex;
    padding: 10px;

    &:focus {
        background-color: #FEAE65;
    }
}

.small {
    padding: 5px 15px;

    &:focus {
        background-color: #FEAE65;
    }
}


.active {
    background-color: #6de8db;
    border-radius: 10px;
    padding: 3px 10px;

    &:hover {
        background-color: #92e2da;
    }
}


.notActive {
    color: whitesmoke;
    background-color: gainsboro;
}

.edit {
    width: auto;
    color: whitesmoke;
    background-color: #fce293;

    &:hover {
        background-color: #ffc107;
    }
}

.remove {
    color: whitesmoke;
    background-color: #ff707e;

    &:hover {
        background-color: #f44153;
    }
}