.input {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 8px;
}

.button {
    padding: 5px;
    margin: 10px 0;
    background-color: gray;
    color: white;
    border-radius: 5px;
}