.wrapper {
    display: flex;
    justify-content: right;
    padding-bottom: 2px;
    padding-left: 5px;
    align-items: baseline;
    border-radius: 10px;

    .wrapper-name {
        border-radius: 15px;
        background-color: #FEAE65;
        padding: 3px 0;

        .name {
            font-size: 1.6rem;
            margin-bottom: 0;
            text-decoration: underline;
            color: #000000;
            font-weight: bold;
            padding: 0 20px;


            &:hover {
                color: #fff;
            }
        }
    }
}



.btn {
    margin-left: 10px;
    padding: 5px 12px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 111, 59);
    color: white;
    font-weight: 600px;

    &:hover {
        opacity: 0.8;
    }
}