//home-main
.body {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  width: 1000px;
  height: 180px;
  background-color: #FEAE65;
  align-items: center;
  border-radius: 40px;
  border: 3px solid #000000;

  .links {
    margin-top: 30px;
  }

  .login {
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
    color: #fff;
    font-size: 3.125rem;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #000;
    margin-right: 10px;
  }
}

.btn {
  background-color: transparent;
  border-color: transparent;
  color: rgb(255, 111, 59);

  &:hover {
    color: rgb(243, 75, 14);
  }
}

//home-student

.container-student {
  width: auto;
  height: 100vh;
  background-color: #fff;
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  border: 2px solid #f00c0c;
  margin: 60px 50px;


  .container-select {
    width: auto;
    height: auto;
    background-color: #fff8f8;
    border: 2px solid #f00c0c;
    border-radius: 40px;
    padding: 30px 0 30px 0;
    text-align: center;
  }



  .form-select {
    border-radius: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
    text-align: center;
    background-color: #f29d9d;
  }

  .course-list {
    list-style: none;

    .course-btn {
      width: 120px;
      margin-bottom: 1px;
      border: 1px solid #000;
      border-radius: 20px;
      background-color: #fff;
      padding: 3px;

      &:hover {
        background-color: #fac4c4;
      }

      &:focus {
        background-color: #f29d9d;
      }
    }
  }

  .table {
    border: 1px solid black;
  }

  .result-table {
    width: auto;
    height: auto;
    background-color: #fff8f8;
    border: 2px solid #f00c0c;
    border-radius: 40px;
    padding: 30px 0 30px 0;
    padding: 30px;

    .container-title {
      font-weight: bold;
      text-align: center;
      font-size: 2.5rem;
    }

    .col {
      width: 300px;
    }

    .pass {
      color: rgb(18, 122, 18);
      font-weight: 600;
    }


    img {
      border-radius: 100px;
      margin: 100px 0 10px 280px;
      width: 40%;
      height: 40%;
      border: 3px solid #91b2ff;
    }

    .image {
      filter: brightness(90%);
      /* Áp dụng hiệu ứng mờ */
      transition: filter 0.3s;

      /* Thêm hiệu ứng chuyển đổi mượt khi hover */
      &:hover {
        filter: brightness(110%);
        border: 3px solid #000;
        /* Sáng lên khi hover */
      }
    }

  }
}

//home-teacher
.container-teacher {
  background-color: #fff;
  width: auto;
  height: 100%;
  margin: 40px auto 10px auto;
  border: 2px solid #f00c0c;
  border-radius: 40px;
  margin: 100px 60px 150px 60px;

  img {
    width: 86%;
    height: 86%;
    margin-top: 20px;
    text-align: center;
    border: 3px solid #fb0707;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-teacher {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: auto;
    height: auto;
    background-color: #fff8f8;
    border: 2px solid #f00c0c;
    border-radius: 40px;
    padding: 30px 10px 30px 10px;
    text-align: center;

  }

  .row {
    display: flex;
    flex-direction: row;
    margin: 20px 0 30px 40px;
    overflow: hidden;
  }
}

//home-admin
.container-admin {
  margin: 5px 0 100px 0;
  background-color: #fff;
  border: 2px solid #e88c37;
  border-radius: 40px 50px 50px 40px;
  padding-right: 15px;



  .row {
    display: flex;
    padding: none;

    .col-3 {
      border: 2px solid #e88c37;
      border-radius: 40px;
      margin-right: 40px;
      padding: 10px;
      background-color: #f9b473;
      padding: 10px 20px;
      height: auto;
      width: 500px;

      .feature-list {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

li {
  cursor: pointer;
}

.form-select {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  height: 34px;
  font-size: 14px;
}