//home-main
.body {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 180px;
  background-color: #FEAE65;
  align-items: center;
  border-radius: 40px;
  border: 2px solid #000000;

  .links {
    margin-top: 30px;
  }

  .login {
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
    color: #fff;
    font-size: 3.125rem;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #000;
  }
}

.btn {
  background-color: transparent;
  border-color: transparent;
  color: rgb(255, 111, 59);

  &:hover {
    color: rgb(243, 75, 14);
  }
}

//home-student

.container-student {
  width: auto;
  height: 100vh;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  border: 2px solid #000;

  .container-title {
    font-weight: bold;
    text-align: center;
  }

  .form-select {
    padding-left: 2px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .course-list {
    list-style: none;
    padding-left: 42px;

    .course-btn {
      width: 120px;
      margin-bottom: 1px;
      border: 1px solid #000;
      border-radius: 20px;
      background-color: #fff;

      &:hover {
        background-color: #f7c79b;
      }

      &:focus {
        background-color: #FEAE65;
      }
    }
  }

  .table {
    border: 1px solid black;
  }
}

//home-teacher
.container-teacher {
  background-color: #fff;
  width: auto;
  height: 100%;
  margin: 50px auto 10px auto;
  border: 2px solid #000;
  border-radius: 40px;



  .nav-teacher {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin: 20px 0 30px 40px;
    overflow: hidden;
  }
}

//home-admin
.container-admin {
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #FEAE65;
  border-radius: 40px;

  .row {
    display: flex;
    padding: none;
  }

  .col-3 {
    border: 1px solid #FEAE65;
    border-radius: 20px;
    margin-right: 40px;
    padding: 10px;
  }
}


.col {
  width: 300px;
}

.pass {
  color: rgb(18, 122, 18);
  font-weight: 600;
}

.feature-list {
  display: flex;
  flex-direction: column;
}

.nav-teacher {
  display: flex;
  flex-direction: column;
}

li {
  cursor: pointer;
}

.form-select {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  height: 34px;
  font-size: 14px;
}