.container {
    height: 100vh;
}

.body {
    margin-top: 50px;
}

.separate {
    margin-top: 2rem!important;
    border-top: 1px solid #ccc;
}

.links {
  margin-left: 149px !important;
}

.btn {
  background-color: transparent;
  border-color: transparent;
  color:  rgb(255, 111, 59);

  &:hover {
    color:  rgb(243, 75, 14);
  }
}

.col {
  width: 300px;
}

.pass {
  color: rgb(18, 122, 18);
  font-weight: 600;
}

.feature-list {
  display: flex;
  flex-direction: column;
}

.nav-teacher {
  display: flex;
  flex-direction: column;
}

li {
  cursor: pointer;
}

.form-select {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  height: 34px;
  font-size: 14px;
}
