html {
    margin: 0;
    padding: 0;
}

.container-footer {
    background-color: #FEAE65;
    height: 250px;
    width: 100%;

    margin: 100px 0 0 0;
    border-top: 5px solid #e7e0d9;

    .container-content {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .img {
            margin-left: -30px;

            img {
                width: 396px;
                height: 223px;
                border-radius: 10px;
                margin-top: 10px;
            }
        }

        .infor {
            color: #fff;
            font-size: 1.4rem;
            font-weight: 300px;
            width: fit-content;

            p {
                width: auto;
                text-align: center;
                line-height: 0.8;
            }

            p:hover {
                color: #131211;
                cursor: pointer;
            }
        }
    }

}

.modal {
    width: 100%;
    margin-top: 200px;

    .header {
        background: #f3af9a;
        border-bottom: 3px solid #3b3838;

        h1 {
            font-weight: bold;
            color: #b45050;
            padding: 5px 130px;
        }
    }

    .header-contact {
        background: #f3af9a;
        border-bottom: 3px solid #3b3838;

        h1 {
            font-weight: bold;
            color: #b45050;
            padding: 5px 160px;
        }
    }

    .header-term {
        background: #f3af9a;
        border-bottom: 3px solid #3b3838;

        h1 {
            font-weight: bold;
            color: #b45050;
            padding: 5px 130px;
        }
    }

    .body {
        padding: 30px;
    }
}