footer {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    background-color: #F6FAFF;
}

footer a {
    color: #8B4513;
    text-decoration: none;
}

.container {
    color: #8B4513;
    justify-content: space-around;
}

.text-light {
    margin-top: 9rem !important;
    border-top: 1px solid #a7a5a5;
    font-size: 1.2rem;
}