footer {
    padding: 40px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
footer a {
    color: #8B4513;
    text-decoration: none;
}

.container {
    color: #8B4513;
    justify-content: space-around;
}
