.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin: 100px 50px 200px 50px;
    padding: 40px 30px 50px 90px;
    border: 2px solid #000;
    border-radius: 40px;
    margin-bottom: 200px;
}