body {
    padding: 30px;
}

.title {
    font-weight: 700;
    margin: 20px 0;
}

.container {
    margin-top: 50px;

    .table-1 {
        padding: 20px;
        background-color: #fff;
        margin: 0 auto 30px auto;
        border-radius: 20px;
        border: 1px solid #000;
    }

    .table-2 {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #000;

        .btn-submit {
            display: block;
            margin-left: auto;
        }
    }

}