.table-1 {
    margin: 50px 40px 10px 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #000;
}

.table-2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #000;
    margin: 0 40px 50px 40px;

    .title-table {
        display: flex;
        cursor: pointer;
        position: relative;
        margin-bottom: 15px;

    }

    table {
        thead {
            background-color: #f9b473;
        }
    }

    .table {
        thead {
            background-color: #f9b473;
        }
    }

    .head-title {
        text-align: center;
    }

}


.btn-showadd {
    background: transparent;

    &:hover {
        text-decoration: underline;
    }
}

.title {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}



.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-show {
    margin-right: 20px;
}

button {
    position: relative;
}

// span::before,
// span::after {
//     content: "";
//     width: 0;
//     height: 2px;
//     position: absolute;
//     transition: all 0.2s linear;
//     background-color: rgb(255, 111, 59);
// }

// button:hover span::before,
// button:hover span::after {
//     width: 100%;
// }

// button span::after {
//     right: 0;
//     bottom: 0;
//     transition-duration: 0.4s;
// }

button span::before {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}

// button-confirm

.btn-dl {
    padding: 5px 10px;
    color: #fff;
    background-color: #3d3838;
    border-radius: 20px;
    border: 1px solid #000;
}

.btn-dl:hover {
    color: #e6e4e4;
    background-color: #f04242;
}

.btn-bt {
    padding: 9px 16px !important;
    border-radius: 4px !important;
    font-size: 1.6rem !important;
    color: white !important;
    font-weight: 500 !important;
    border: 1px solid transparent !important;
}

//link-style
.link-style {
    color: #005dfe;
}

// button public-no public
.btn-publiced {
    padding: 2px 10px;
    background-color: #8df45e;
    border-radius: 20px;
    border: 1px solid #000;
    margin-left: 10px;
}

.btn-nopublic {
    padding: 2px 10px;
    background-color: #ff1900;
    border-radius: 20px;
    border: 1px solid #000;
    margin-left: 10px;
}