@import '~bootstrap/scss/bootstrap.scss';
@import "normalize.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #F6FAFF;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    background-color: #F6FAFF;
}

button,
input {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}

ul {
    list-style: decimal;
}