.container {
    table {
        border: 1px solid #000;
        background-color: #fff;

        thead {
            background-color: #f9be88;

        }
    }

}

.form-select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    background-color: #f9b473;
}

.form-message {
    font-size: 1.4rem;
    color: red;
}


form {
    max-width: none !important;
    margin-left: 20px;
    margin-top: 20px;
}

.modal-title {
    font-size: 22px;
    font-weight: 600;
}

.btn-bt {
    padding: 9px 16px !important;
    border-radius: 4px !important;
    font-size: 1.6rem !important;
    color: white !important;
    font-weight: 500 !important;
    border: 1px solid transparent !important;
}

.list-item {
    width: 10%;
}

.sort-header {
    display: flex;
    justify-content: space-between;

    i {
        cursor: pointer;
        padding: 0 4px;
    }
}

.group-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        margin-right: 5px;
    }
}

.container-table {
    position: relative;
    display: flex;
    flex-direction: column;
}

//button-delete

.btn-dl {
    padding: 5px 10px;
    color: #fff;
    background-color: #3d3838;
    border-radius: 20px;
    border: 1px solid #000;
}

.btn-dl:hover {
    color: #e6e4e4;
    background-color: #f04242;
}

// header-board
.container-header {
    display: flex;
    margin: auto;
    color: #f04242;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-between;


    .title {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        border: 1px solid #000;
        background-color: #fff;

        thead {
            background-color: #f9b473;

        }
    }

}

.btn-view-add {
    border-radius: 10px;
    position: inherit;
    right: 50px;
    align-items: center;
    margin-top: 20px;

}

.btn-export {
    position: absolute;
    right: 0px;
    top: -40px;
}

.btns {
    position: relative;
    top: 48px;
    right: 10px;
}

//link-style
.link-style {
    color: #fe2c2c;
}