.form-select {
    margin-top: 10px;
}

.form-message {
    font-size: 1.4rem;
    color: red;
}

form {
    max-width: none !important;
    margin-left: 20px;
    margin-top: 20px;
}

.modal-title {
    font-size: 22px;
    font-weight: 600;
}

.btn-bt {
    padding: 9px 16px !important;
    border-radius: 4px !important;
    font-size: 1.6rem !important;
    color: white !important;
    font-weight: 500 !important;
    border: 1px solid transparent !important;
}