.form-select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    // border-width: none !important;
}

.form-message {
    font-size: 1.4rem;
    color: red;
}

form {
    max-width: none !important;
    margin-left: 20px;
    margin-top: 20px;
}

.modal-title {
    font-size: 22px;
    font-weight: 600;
}

.btn-bt {
    padding: 9px 16px !important;
    border-radius: 4px !important;
    font-size: 1.6rem !important;
    color: white !important;
    font-weight: 500 !important;
    border: 1px solid transparent !important;
}

.list-item {
    width: 10%;
}

.sort-header {
    display: flex;
    justify-content: space-between;

    i {
        cursor: pointer;
        padding: 0 4px;
    }
}

.group-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        margin-right: 5px;
    }
}

.btn-dl {
    padding: 5px 10px;
    color: #fff;
    background-color: #3d3838;
    border-radius: 20px;
    border: 1px solid #000;
}

.btn-dl:hover,
.btn-dl:focus {
    color: #e6e4e4;
    background-color: #f04242;
}