.row {
    margin: 50px 100px 0 100px;
    background-color: #fff;
    padding: 50px;
    border: 1px solid #000;
    border-radius: 30px;

    .title {
        padding-top: 10px;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 600;
    }
}